body {
	color: #000000;
	background: black;
	background-image: url("seamlessGray.jpg");
	font-family: 'Helvetica', sans-serif;
	font-size: 80%;
}
/*
 site - selecting specific colors for a wallpaper
 http://www.colourlovers.com/pattern/2875/Gothic_Wallpaper
 */
a {
	color: gray;
	text-decoration: none;
}
a:visited {
	color: #1a5952;
}
a:hover, {
color: #0599c2;
text-decoration: underline;
}

#chart_div {
	padding: 30px;
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
